:root {
  --primary-color: #1abc9c;
  --dark-accent: #2c3e50;
  --light-accent: #ecf0f1;
  --highlight-color: #e74c3c;
  --cta-color: #f39c12;
  --complementary-color: #3498db;
  --secondary-accent: #8e44ad;
  --secondary-light-accent: #ffd1a1;
  --third-light-accent: #d0e6f7;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf1f0;
}

.header {
  background-color: var(--primary-color);
  color: var(--dark-accent); 
  text-align: center;
}


.header-title {
  margin: 0;
  padding: 10px 0;
}

.header-subtitle {
  margin: 0;
  padding: 10px 0;
  margin: 0px 0 30px;
}

.nav-link {
  color: var(--dark-accent);
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.breakline {
  border: 0;
  height:3px;
  background: var(--primary-color);
  margin: 10px 0;
}

.header-breakline {
  border: 0;
  height:3px;
  background: var(--dark-accent);
  margin: 10px 0;
}


.list-header {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  color: var(--dark-accent);
}

button {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #03bc1c;
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

button[type="cancel"] {
  background-color: var(--highlight-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

button[type="delete"] {
  background-color: var(--highlight-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
} 

button[type="edit"] {
  background-color: var(--complementary-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  
}

.form{
  text-align: center;
  margin-top: 50px;
}

.card {
  /* display: flex; */
  border: 3px solid var(--cta-color);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  background-color: #fdefe0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10;
  margin-right: 30px;
  margin-left: 0px;
}

.card h3 {
  margin-top: 0;
  color: var(--dark-accent);
  text-align: center;
}

.card p {
  margin: 10px 0;
}

.card-breakline {
  border: 0;
  height:2px;
  background: var(--cta-color);
  margin: 10px 0;
}

.card-text {
  font-size: 1.2em;  
  margin-bottom: 1em;  /* Space between paragraphs */
  color: var(--cta-color);  /* Dark grey color for better readability */
  text-align: left;
  font-weight: bold;
}

.card-value {
  color: var(--dark-accent); /* Different color for the values */
  font-weight: normal; /* Optional: Make the values bold */
}


.error-message {
  color: red;
}

.workout.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.homepage-text {
  font-size: 1.4em;  
  margin-bottom: 1em;  /* Space between paragraphs */
  color: #333;  /* Dark grey color for better readability */
  text-align: center;
}

.user-profile-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.user-profile-text {
  font-size: 1.4em;  
  margin-bottom: 1em;  /* Space between paragraphs */
  color: #333;  /* Dark grey color for better readability */
  text-align: center;
  font-weight: bold;
}

.user-profile-text .value {
  color: var(--primary-color); /* Different color for the values */
  font-weight: bold; /* Optional: Make the values bold */
}

.workout-detail-text {
  font-size: 1.4em;  
  margin-bottom: 1em;  /* Space between paragraphs */
  color: #333;  /* Dark grey color for better readability */
  text-align: center;
  font-weight: bold;
}

.workout-detail-text .value {
  color: var(--primary-color); /* Different color for the values */
  font-weight: bold; /* Optional: Make the values bold */
}

.cardnav-link {
  text-align: center;      /* Ensures text inside the link is centered */
  padding: 5px 50px;     
  background-color: #fdefe0;
  color: var(--cta-color);          
  text-decoration: none; 
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;   
}

/* Optional: Add hover effects */
.cardnav-link:hover {
  background-color: var(--secondary-light-accent);
}



.footer {
  color: #2c3e50;
  padding: 10px;
  text-align: center;
}

/* cool green color #1abc9c */