:root {
  --primary-color: #1abc9c;
  --dark-accent: #2c3e50;
  --light-accent: #ecf0f1;
  --highlight-color: #e74c3c;
  --cta-color: #f39c12;
  --complementary-color: #3498db;
  --secondary-accent: #8e44ad;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf1f0;
}

.header {
  background-color: var(--primary-color);
  color: var(--dark-accent) ; 
  padding: 10px 0;
  text-align: center;
}


.header-title {
  margin: 0;
  padding: 10px 0;
}

.header-subtitle {
  margin: 0;
  padding: 10px 0;
  margin: 0px 0 30px;
}

.nav-link {
  color: var(--dark-accent);
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.breakline {
  border: 0;
  height: 1px;
  background: var(--light-accent);
  margin: 10px 0;
}

.list-header {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  color: var(--dark-accent);
}

button {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #03bc1c;
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

button[type="cancel"] {
  background-color: var(--highlight-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

button[type="delete"] {
  background-color: var(--highlight-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
} 

button[type="edit"] {
  background-color: var(--complementary-color);
  color: var(--light-accent);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  
}

.form{
  text-align: center;
  margin-top: 50px;
}

.card {
  /* display: flex; */
  border: 2px solid var(--cta-color);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  background-color: #ddd;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10;
  margin-right: 30px;
  margin-left: 0px;
}

.card h3 {
  margin-top: 0;
  color: #000409;
  text-align: center;
}

.card p {
  margin: 10px 0;
}

.error-message {
  color: red;
}

.workout.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.homepage-text {
  font-size: 1.4em;  
  margin-bottom: 1em;  /* Space between paragraphs */
  color: #333;  /* Dark grey color for better readability */
  text-align: center;
}

.footer {
  color: #2c3e50;
  padding: 10px;
  text-align: center;
}

/* cool green color #1abc9c */